.card {
  width: 100%;
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  max-width: 100%;
  display: block;
  object-fit: contain;
  margin-bottom: 0.725rem;
}

.card .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .details > * {
  margin-bottom: 0.275rem;
}

.preis {
  color: var(--color-primary);
  font-weight: 800;
}
