.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

.link {
}
